@using CsvHelper.Configuration.Attributes
@using Datahub.Core.Model.Projects
@using MudBlazor.Utilities
@using System.Text.Json.Nodes;
@using Datahub.Application.Services
@using Datahub.Infrastructure.Services
@using Microsoft.Extensions.Logging;
@using Microsoft.Extensions.Logging.Abstractions
@using Microsoft.IdentityModel.Tokens
@using Newtonsoft.Json

@inject IUsersStatusService _userStatusService;
@inject DatahubPortalConfiguration _datahubPortalConfiguration
@inject IHttpClientFactory _httpClientFactory
@inject IJSRuntime _jsRuntime
@inject ICsvService _csvService
@inject IDownloadService _downloadService

<MudTable Striped Items="@UserWorkspaces" ServerData="SortUserTable" @ref="userTable">
    <ToolBarContent>
        @if (AdminView)
        {
            <MudTooltip Text=@Localizer["Copy the emails of all users in the current table (includes filtering)."]>
                <DHButton Color="Color.Primary" OnClick="@CopyUsersToClipboard">
                    @_allButton
                </DHButton>
            </MudTooltip>
            <MudTooltip Text=@Localizer["Download entire user table to CSV."]>
                <DHButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@SidebarIcons.Download"
                          OnClick="HandleDownload" Class="mr-4">
                    @Localizer["Download to CSV"]
                </DHButton>
            </MudTooltip>
        }
        <MudTextField
            Value="_searchString" ValueChanged="SearchStringChanged" DebounceInterval="300" T="string" Immediate="true"
            Placeholder=@Localizer["Search by User or Workspace"]
            Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
            Class="mt-4" Label="@Localizer["Search"]">
        </MudTextField>
        @if (AdminView)
        {
            <MudSpacer/>
            <MudNumericField Value="_numberWorkspaces"
                             ValueChanged="NumberWorkspacesChanged"
                             DebounceInterval="300"
                             Label="Minimum number of workspaces"
                             T="int"
                             Immediate="true"
                             Min="0"/>

            <MudSpacer/>
            <MudSelect T="string" Value="_lastXDays" ValueChanged=LastXDaysChanged Variant="Variant.Text"
                       Label="Time of last login" Dense="true">
                <MudSelectItem T="string" Value="null">@Localizer["All"]</MudSelectItem>
                @foreach (var days in lastXDaysOptions)
                {
                    <MudSelectItem T="string" Value="days">@Localizer[days]</MudSelectItem>
                }
            </MudSelect>
        }
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortLabel="User" SortBy="new Func<UserWorkspaces, object>(x => x.User.DisplayName)"
                               InitialDirection="SortDirection.Ascending">
                @Localizer["User"]
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            @Localizer["Workspaces"]
        </MudTh>
        @if (AdminView)
        {
            <MudTh>
                <MudTableSortLabel SortLabel="LastLoginDateTime"
                                   SortBy="new Func<UserWorkspaces, object>(x => x.User.LastLoginDateTime)">
                    @Localizer["Last login date"]
                </MudTableSortLabel>
            </MudTh>
        }

    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="User">
            <MudText Typo="Typo.h6">@context.User.DisplayName</MudText>
            <MudText Typo="Typo.body2">@context.User.Email</MudText>
        </MudTd>
        <MudTd DataLabel="Workspaces">
            <ul style="">
                @foreach (var workspace in context.Workspaces)
                {
                    if (!workspace.IsDeleted && !(workspace.UserRoles?.FirstOrDefault(u => u.PortalUserId == context.User.Id)?.RoleId == (int)Project_Role.RoleNames.Removed))
                    {
                        <li>
                            <MudLink
                                Href="@($"/{_datahubPortalConfiguration.ProjectUrlSegment}/{workspace.Project_Acronym_CD}")">
                                <MudText>@workspace.ProjectName <span
                                        style="@AcronymStyle">(@workspace.Project_Acronym_CD)</span></MudText>
                            </MudLink>
                        </li>
                    }
                }
            </ul>
        </MudTd>
        @if (AdminView)
        {
            <MudTd DataLabel="Workspaces">
                <MudText>@context.User.LastLoginDateTime</MudText>
            </MudTd>
        }
    </RowTemplate>
    <PagerContent>
        <MudTablePager RowsPerPageString="@Localizer["Rows per page:"]"/>
    </PagerContent>
</MudTable>

@code {
    [Parameter] public ICollection<UserWorkspaces> UserWorkspaces { get; set; }

    [Parameter] public bool AdminView { get; set; }

    public IEnumerable<UserWorkspaces> _filteredData { get; set; }

    private MudTable<UserWorkspaces> userTable;

    private string _searchString = "", _lastXDays = "";
    private int _numberWorkspaces = 0;

    private string _allButton = "Copy emails";
    private List<string> _filteredEmails;

    private string AcronymStyle => new StyleBuilder()
        .Build();

    public List<string> LockedUsers = new();
    public List<string> AllUsers = new();

    private List<string> lastXDaysOptions =
    [
        "Last 7 days",
    "Last 30 days",
    "Last 90 days",
    "Last 120 days",
    "Last 365 days",
    "> 1 year"
    ];


    private async Task<TableData<UserWorkspaces>> SortUserTable(TableState state, CancellationToken cancellationToken)
    {
        var filteredData = UserWorkspaces.AsEnumerable();
        _allButton = "Copy emails";

        // Apply search filter
        if (!string.IsNullOrEmpty(_searchString))
        {
            filteredData = filteredData.Where(check => ((check.User.DisplayName?.Contains(_searchString, StringComparison.OrdinalIgnoreCase) ?? false)
                                                        || (check.User.Email?.Contains(_searchString, StringComparison.OrdinalIgnoreCase) ?? false)
                                                        || check.Workspaces.Any(x => x.Project_Acronym_CD?.Contains(_searchString, StringComparison.OrdinalIgnoreCase) ?? false)
                                                        || check.Workspaces.Any(x => x.ProjectName?.Contains(_searchString, StringComparison.OrdinalIgnoreCase) ?? false)));
        }

        // Apply # of workspaces filter
        if (_numberWorkspaces > 0)
        {
            filteredData = filteredData.Where(check => check.Workspaces.Count() >= _numberWorkspaces);
        }

        Console.WriteLine(_numberWorkspaces);

        // Apply last X days filter
        if (_lastXDays != null)
        {
            if (_lastXDays.Contains("7 days"))
            {
                filteredData = filteredData.Where(check => check.User.LastLoginDateTime.HasValue && check.User.LastLoginDateTime.Value >= DateTime.UtcNow.AddDays(-7) && check.User.LastLoginDateTime.Value <= DateTime.UtcNow);
            }
            else if (_lastXDays.Contains("30 days"))
            {
                filteredData = filteredData.Where(check => check.User.LastLoginDateTime.HasValue && check.User.LastLoginDateTime.Value >= DateTime.UtcNow.AddDays(-30) && check.User.LastLoginDateTime.Value <= DateTime.UtcNow);
            }
            else if (_lastXDays.Contains("90 days"))
            {
                filteredData = filteredData.Where(check => check.User.LastLoginDateTime.HasValue && check.User.LastLoginDateTime.Value >= DateTime.UtcNow.AddDays(-90) && check.User.LastLoginDateTime.Value <= DateTime.UtcNow);
            }
            else if (_lastXDays.Contains("120 days"))
            {
                filteredData = filteredData.Where(check => check.User.LastLoginDateTime.HasValue && check.User.LastLoginDateTime.Value >= DateTime.UtcNow.AddDays(-120) && check.User.LastLoginDateTime.Value <= DateTime.UtcNow);
            }
            else if (_lastXDays.Contains("365 days"))
            {
                filteredData = filteredData.Where(check => check.User.LastLoginDateTime.HasValue && check.User.LastLoginDateTime.Value >= DateTime.UtcNow.AddDays(-365) && check.User.LastLoginDateTime.Value <= DateTime.UtcNow);
            }
            else if (_lastXDays.Contains("year"))
            {
                filteredData = filteredData.Where(check => check.User.LastLoginDateTime.HasValue && check.User.LastLoginDateTime.Value < DateTime.UtcNow.AddDays(-365) && check.User.LastLoginDateTime.Value <= DateTime.UtcNow);
            }
        }

        // Apply sorting
        if (state.SortDirection != SortDirection.None)
        {
            Func<UserWorkspaces, object> sortBy = state.SortLabel switch
            {
                nameof(Datahub.Portal.Pages.Tools.Users.UserWorkspaces.User) => x => x.User.DisplayName,
                nameof(Datahub.Portal.Pages.Tools.Users.UserWorkspaces.User.LastLoginDateTime) => x => x.User.LastLoginDateTime,
                _ => x => x.User.DisplayName
            };

            filteredData = filteredData.OrderByDirection(state.SortDirection, sortBy);
        }

        // Apply pagination
        var totalItems = filteredData.Count();
        var pagedData = filteredData
            .Skip(state.Page * state.PageSize)
            .Take(state.PageSize)
            .ToList();

        _filteredEmails = filteredData.Where(x => x.User.Email?.Contains("@") ?? false).Select(x => x.User.Email).ToList();
        _filteredData = filteredData;

        return await Task.FromResult(new TableData<UserWorkspaces> { TotalItems = totalItems, Items = pagedData });
    }

    private async Task SearchStringChanged(string search)
    {
        _searchString = search;
        await ReloadWorkspaceHealthCheckTableAsync();
    }

    private async Task NumberWorkspacesChanged(int num)
    {
        Console.WriteLine(_numberWorkspaces);
        _numberWorkspaces = num;
        await ReloadWorkspaceHealthCheckTableAsync();
    }

    private async Task LastXDaysChanged(string days)
    {
        _lastXDays = days;
        await ReloadWorkspaceHealthCheckTableAsync();
    }

    private async Task ReloadWorkspaceHealthCheckTableAsync()
    {
        if (userTable is not null)
        {
            await userTable.ReloadServerData();
        }
    }


    // Copy emails to clipboard
    private async Task CopyUsersToClipboard()
    {
        _allButton = await CopyToClipboard(_filteredEmails) ? Localizer["Copied!"] : Localizer["Failed to copy"];
    }

    private async Task<bool> CopyToClipboard(List<string> emailList)
    {
        var result = false;
        if (emailList.Any())
        {
            var tempstr = String.Join(",\n", emailList);
            await _jsRuntime.InvokeVoidAsync("navigator.clipboard.writeText", tempstr);
            result = true;
        }

        return result;
    }

    // CSV download
    private async Task HandleDownload()
    {
        var csvRecords = _filteredData.Select(ConvertUserWorkspaces);
        var fileStream = _csvService.GenerateCsvStreamFromRecords(csvRecords);
        var fileName = $"UserInfo_{DateTime.Now.ToString("yyyy-MM-dd")}.csv";
        await _downloadService.DownloadStreamAsFile(fileStream, fileName);
    }

    record UsersTableCsvEntry(string Name, string Email, string Workspaces, [property: Name("Last Login")] string LastLogin) : ICsvService.ICsvRecord;

    private string JoinWorkspaces(IEnumerable<Datahub_Project> workspaces) => string.Join(", ", workspaces.Select(w => $"{w.ProjectName} ({w.Project_Acronym_CD})"));

    private string FormatLastLoginDate(DateTime? date) => date?.ToString("g", CultureInfo.CreateSpecificCulture("en-CA"));

    private UsersTableCsvEntry ConvertUserWorkspaces(UserWorkspaces userWorkspaces) =>
        new UsersTableCsvEntry(
            userWorkspaces.User.DisplayName,
            userWorkspaces.User.Email,
            JoinWorkspaces(userWorkspaces.Workspaces),
            FormatLastLoginDate(userWorkspaces.User.LastLoginDateTime)
        );


}