@using Datahub.Application.Services
@using Datahub.Application.Services.Toolbox
@using Datahub.Core.Model.Achievements
@using Datahub.Core.Model.Projects
@using Datahub.Core.Model.Users
@using Datahub.Core.Services.Projects
@using Datahub.Infrastructure.Services.Toolbox
@using Datahub.Portal.Pages.Workspace.Toolbox.ConfigurationForms
@using Datahub.Shared
@using Datahub.Shared.Entities
@using Datahub.Shared.Entities.WorkspaceToolConfiguration
@using MudBlazor.Utilities

@inherits ViewUserBase<WorkspaceToolboxPage>

@inject IDbContextFactory<DatahubProjectDBContext> ContextFactory
@inject IResourceMessagingService ResourceMessagingService
@inject IRequestManagementService RequestManagementService
@inject IDatahubAuditingService AuditingService
@inject ILogger<WorkspaceToolboxPage> Logger
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject IToolboxService ToolboxService
@inject DatahubPortalConfiguration DatahubPortalConfiguration
@inject IWorkspaceVersionService WorkspaceVersionService

@if (_initializing)
{
    <DHLoadingInitializer Message="@Localizer["Loading..."]"/>
    return;
}

<MudStack>
    <DHMainContentTitle Title="@Localizer["Toolbox"]"/>
    <WorkspaceAlerts WorkspaceAcronym="@WorkspaceAcronym" View="@WorkspaceSidebar.SectionViews.Toolbox"/>
    <MudPaper Elevation="0" Outlined>
        @if (_completed)
        {
            @* Completed request content *@
            <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Style="min-height: 500px" >
                <MudText Typo="Typo.h2" id=@CompletionStepTitleId>
                    @if (_completionSteps.All(step => step.State == CompletedState))
                    {
                        @Localizer["Request submitted successfully, redirecting you..."]
                    }
                    else if (_completionSteps.Any(step => step.State == FailedState))
                    {
                        @Localizer["Request failed. Please try again later, or "]
                        <MudLink Typo="Typo.h2" Href="@SupportUrl">@Localizer["submit a support request."]</MudLink>
                    }
                    else
                    {
                        @Localizer["Submitting request..."]
                    }
                </MudText>
                <MudStack>
                    <MudStack Justify="Justify.FlexStart" id=@CompletionStepsId>
                        @foreach (var step in _completionSteps)
                        {
                            <MudStack Row AlignItems="AlignItems.Center">
                                @if (step.State == ActiveState)
                                {
                                    <MudProgressCircular Indeterminate Color="Color.Primary" Size="Size.Small" id=@ElementId([CompletionStepsId, step.State])/>
                                }
                                @if (step.State == CompletedState)
                                {
                                    <MudIcon Icon="@Icons.Material.Outlined.Check" Color="Color.Primary" id=@ElementId([CompletionStepsId, step.State])/>
                                }
                                @if (step.State == FailedState)
                                {
                                    <MudIcon Icon="@Icons.Material.Outlined.Close" Color="Color.Primary" id=@ElementId([CompletionStepsId, step.State])/>
                                }
                                <MudText Typo="Typo.body1">@Localizer[step.Label]</MudText>
                                @if (step.Time is not 0)
                                {
                                    <MudText>@Localizer["{0:F2} seconds", (float)step.Time / 1000]</MudText>
                                }
                            </MudStack>
                        }
                    </MudStack>
                </MudStack>
            </MudStack>
        }
        else
        {
            @* Toolbox *@
            <MudStack Row Spacing="0">
                <MudStepper Style="@(_activeIndex == 2 ? "width: 100%" : "width: 75%")"
                            @bind-ActiveIndex="@_activeIndex">
                    <ActionContent Context="stepper">
                        @if (stepper.ActiveIndex != 0)
                        {
                            <DHButton Variant="Variant.Filled"
                                        Class="ml-4 mb-3 mt-2"
                                        HtmlTag="button"
                                        OnClick="@(_ => PreviousStep(stepper))" DisableRipple
                                        StartIcon="@Icons.Material.Outlined.KeyboardDoubleArrowLeft"
                                        id=@PreviousButtonId>
                                @Localizer["Previous step"]
                            </DHButton>
                        }
                        <MudSpacer/>
                        @if (stepper.ActiveIndex != stepper.Steps.Count - 1)
                        {
                            <DHButton Variant="Variant.Filled" Color="Color.Primary"
                                        Class="mr-4 mb-3 mt-2"
                                        HtmlTag="button"
                                        OnClick="@(_ => NextStep(stepper))"
                                        Disabled="@(!stepper.CanGoToNextStep)"
                                        DisableRipple EndIcon="@Icons.Material.Outlined.KeyboardDoubleArrowRight"
                                        id=@NextButtonId>
                                @Localizer["Next step"]
                            </DHButton>
                        }
                        else
                        {
                            <DHButton Variant="Variant.Filled" Color="Color.Primary" DisableRipple
                                        Class="mr-4 mb-3 mt-2"
                                        HtmlTag="button"
                                        OnClick="@(_ => NextStep(stepper))"
                                        EndIcon="@Icons.Material.Outlined.Check"
                                        id="@CompleteButtonId">
                                @Localizer["Complete request"]
                            </DHButton>
                        }
                    </ActionContent>
                    <ChildContent>
                        <MudStep Title=@Localizer["Select"]>
                            <MudText Typo="Typo.h2" Class="mb-2">
                                @Localizer["Select tools to add, remove or configure in your workspace "]
                            </MudText>
                            @if (_disableActiveRequest || _disableOverBudget)
                            {
                                <DHAlert Class="mb-2">
                                    <MudText>
                                        @if (_disableOverBudget)
                                        {
                                            @Localizer["This workspace is over budget and toolbox requests cannot be made."]
                                        }
                                        else if (_disableActiveRequest)
                                        {
                                            @Localizer["This workspace currently has an active request. You may not make new requests while there is an active request. Come back later, or submit a support request if your active request is taking longer than ususal."]
                                        }
                                    </MudText>
                                </DHAlert>
                            }
                            <MudText Class="mb-4">
                                @Localizer["The tool catalog will list tools that are not yet in your workspace. You will be able to select from those which you would like to add to your workspace."]
                            </MudText>
                            <MudText Typo="Typo.h3" Class="mb-2">
                                @Localizer["Tool catalog"]
                            </MudText>
                            <MudStack Spacing="2" Class="mb-2" Style="flex-shrink: 0" id=@CatalogId>
                                @foreach (var tool in _toolCatalog.Where(_transactions.DoesNotContainTool))
                                {
                                    var toolInfo = GetToolInfo(tool);
                                    var availability = GetAvailabilityStatus(toolInfo);

                                    <ToolboxItem ToolName="@ToolLabel(toolInfo)" ToolIcon="@ToolIcon(toolInfo)"
                                                    ToolCategory="@ToolCategory(toolInfo)"
                                                    ShowDetails="@(_ => ShowInfoSheet(tool, ElementId([CatalogId, tool])))"
                                                    ToolId=@ElementId([CatalogId, tool])>
                                        @switch (availability)
                                        {
                                            case AvailabilityStatus.Available:
                                                <DHButton OnClick="@(_ => AddTool(tool))"
                                                            EndIcon="@Icons.Material.Outlined.Add"
                                                            DisableRipple
                                                            Disabled="@(_disableActiveRequest || _disableOverBudget)"
                                                            HtmlTag="button"
                                                            Variant="Variant.Filled" Color="Color.Primary"
                                                            id=@ElementId([CatalogId, tool, AddButtonId])>
                                                    @Localizer["Add"]
                                                </DHButton>
                                                break;
                                            case AvailabilityStatus.UpgradeWorkspace:
                                                <MudText Style="font-style: italic">
                                                    @Localizer["Please upgrade your workspace version to add this tool."]
                                                </MudText>
                                                break;
                                            case AvailabilityStatus.Disabled:
                                            case AvailabilityStatus.UnderDevelopment:
                                                <MudText Style="font-style: italic">
                                                    @AvailabilityLabel(availability)
                                                </MudText>
                                                break;
                                        }
                                    </ToolboxItem>
                                }
                            </MudStack>
                            <MudText Class="mb-4" Style="font-style: italic">
                                @Localizer["Certain tools have dependencies. As you add tools, they will automatically add their dependencies to your request. Clicking on the name of a tool will show more information about the tool."]
                            </MudText>
                            @if (_workspace.Resources.Any())
                            {
                                <MudStack Row>
                                    <MudText Typo="Typo.h3" Class="mb-2">
                                        @Localizer["Tools in workspace"]
                                    </MudText>
                                </MudStack>
                                <MudStack Spacing="2" Class="mb-2" id=@ExistingId>
                                    @foreach (var template in _workspaceDefinition.Templates.Where(t => AllRemoveTransactions.DoesNotContainTool(t.Name)))
                                    {
                                        var tool = template.Name;
                                        var toolInfo = GetToolInfo(tool);
                                        <ToolboxItem ToolName="@ToolLabel(toolInfo)" ToolIcon="@ToolIcon(toolInfo)"
                                                        ToolCategory="@ToolCategory(toolInfo)"
                                                        ShowDetails="@(_ => ShowInfoSheet(tool, ElementId([ExistingId, tool])))"
                                                        ToolId=@ElementId([ExistingId, tool])>
                                            @switch (template.Status)
                                            {
                                                case TerraformStatus.Completed:
                                                    var configurable = IsConfigurable(toolInfo) && 
                                                        AllUpdateTransactions.DoesNotContainTool(tool) && 
                                                        !(_disableActiveRequest || _disableOverBudget);
                                                    var deletable = IsDeletable(toolInfo) && 
                                                        AllUpdateTransactions.DoesNotContainTool(tool) && 
                                                        !(_disableActiveRequest || _disableOverBudget);
                                                    var futureConfigurable = IsConfigurableInFutureVersion(toolInfo);

                                                    @if (futureConfigurable)
                                                    {
                                                        <DHIcon Icon="@Icons.Material.Outlined.ArrowCircleUp" Title="@Localizer["There is a configuration update available for this tool. Please upgrade your workspace version in order to access the latest features."]" />
                                                    }

                                                    <DHButton EndIcon="@SidebarIcons.Gear"
                                                                Variant="Variant.Filled" Color="Color.Default"
                                                                DisableRipple
                                                                OnClick="@(_ => UpdateTool(tool))"
                                                                Disabled="@(!configurable)"
                                                                HtmlTag="button"
                                                                title="@(configurable ? "" : Localizer["This tool cannot be configured currently."])"
                                                                id=@ElementId([ExistingId, tool, ConfigureButtonId])>
                                                        @Localizer["Configure"]
                                                    </DHButton>
                                                    <DHButton EndIcon="@Icons.Material.Outlined.Delete"
                                                                Variant="Variant.Filled" Color="Color.Primary"
                                                                DisableRipple
                                                                OnClick="@(_ => RemoveTool(tool))"
                                                                Disabled="@(!deletable)"
                                                                HtmlTag="button"
                                                                title="@(!deletable ? Localizer["This tool cannot be removed currently."] : "")"
                                                                id=@ElementId([ExistingId, tool, RemoveButtonId])>
                                                        @Localizer["Remove"]
                                                    </DHButton>
                                                    break;
                                                case TerraformStatus.InProgress:
                                                case TerraformStatus.CreateRequested:
                                                    <MudText Style="font-style: italic"
                                                                id=@ElementId([ExistingId, tool, ToolStatusLabelId])>
                                                        @Localizer["In Progress"]
                                                    </MudText>
                                                    break;
                                                case TerraformStatus.Failed:
                                                    <MudText Style="font-style: italic"
                                                                id=@ElementId([ExistingId, tool, ToolStatusLabelId])>
                                                        @Localizer["Failed"]
                                                    </MudText>
                                                    break;
                                                case TerraformStatus.DeleteInProgress:
                                                case TerraformStatus.DeleteRequested:
                                                    <MudText Style="font-style: italic"
                                                                id=@ElementId([ExistingId, tool, ToolStatusLabelId])>
                                                        @Localizer["Deleting..."]
                                                    </MudText>
                                                    break;
                                            }
                                        </ToolboxItem>
                                    }
                                </MudStack>
                                <MudText Style="font-style: italic">
                                    @Localizer["Some tools may not be configurable or removable through the toolbox just yet. For more information, please submit a support request. Clicking on the name of a tool will show more information about the tool."]
                                </MudText>
                            }
                        </MudStep>
                        <MudStep Title=@Localizer["Configure"]
                                    Disabled="@(!_transactions.Any(IsConfigurable))">
                            <MudText Typo="Typo.h2" Class="mb-2">
                                @Localizer["Configure the tools you have added to your workspace"]
                            </MudText>
                            <MudText Class="mb-4">
                                @Localizer["You can configure the tools you have added to your workspace here."]
                            </MudText>
                            <MudStack Spacing="4">
                                @foreach (var transaction in _transactions.Where(IsConfigurable))
                                {
                                    var tool = transaction.Tool;
                                    var toolInfo = GetToolInfo(tool);

                                    <MudPaper Elevation="0" Outlined Class="py-4 px-8"
                                                Style=@ConfigurationFormStyle>
                                        <MudStack Row AlignItems="AlignItems.Center" Class="mb-4">
                                            <DHIcon Icon="@ToolIcon(toolInfo)"/>
                                            <MudText Typo="Typo.h3">
                                                @Localizer["{0} configuration", ToolLabel(toolInfo)]
                                            </MudText>
                                        </MudStack>
                                        <MudStack Spacing="2" id=@ConfigurationFormsId>
                                            <WorkspaceToolConfigurationForm 
                                                Configuration="@transaction.UpdatedData" 
                                                ToolInfo="toolInfo" 
                                                WorkspaceVersion="@_workspaceVersion" />
                                        </MudStack>
                                    </MudPaper>
                                }
                            </MudStack>
                        </MudStep>
                        <MudStep Title=@Localizer["Review"]
                                    Disabled="@(!_transactions.Any())"
                                    @bind-Completed="@_completed">
                            <MudStack>
                                <MudText Typo="Typo.h2">
                                    @Localizer["Review the tools you have selected to add, remove or configure in your workspace"]
                                </MudText>
                                <MudText>
                                    @Localizer["Make sure that the following information is correct before submitting your request. Tool requests cannot be cancelled and may take some time to process."]
                                </MudText>
                                <MudTable Outlined Striped Dense T="ToolboxTransaction" Items="_transactions"
                                            id=@ReviewTableId>
                                    <HeaderContent>
                                        <MudTh>
                                            <strong>
                                                @Localizer["Action"]
                                            </strong>
                                        </MudTh>
                                        <MudTh>
                                            <strong>
                                                @Localizer["Tool"]
                                            </strong>
                                        </MudTh>
                                        <MudTh>
                                            <strong>
                                                @Localizer["Configuration"]
                                            </strong>
                                        </MudTh>
                                        <MudTh>
                                            <strong>
                                                @Localizer["Cost summary"]
                                            </strong>
                                        </MudTh>
                                    </HeaderContent>
                                    <RowTemplate>
                                        <MudTd>
                                            @switch (context.Type)
                                            {
                                                case ToolboxTransactionType.Add:
                                                    <MudText id=@ElementId([ReviewActionId, context.Tool])>
                                                        @Localizer["Add"]
                                                    </MudText>
                                                    break;
                                                case ToolboxTransactionType.Update:
                                                    <MudText id=@ElementId([ReviewActionId, context.Tool])>
                                                        @Localizer["Configure"]
                                                    </MudText>
                                                    break;
                                                case ToolboxTransactionType.Remove:
                                                    <MudText id=@ElementId([ReviewActionId, context.Tool])>
                                                        @Localizer["Remove"]
                                                    </MudText>
                                                    break;
                                            }
                                        </MudTd>
                                        <MudTd>
                                            <DHButton EndIcon="@Icons.Material.Outlined.Info" Underline NoWrap
                                                        OnClick="@(_ => ShowInfoSheet(context.Tool, ElementId([ReviewTableId, context.Tool])))"
                                                        DisableRipple
                                                        HtmlTag="button">
                                                @ToolLabel(GetToolInfo(context.Tool))
                                            </DHButton>
                                        </MudTd>
                                        <MudTd>
                                            @switch (context.Type)
                                            {
                                                case ToolboxTransactionType.Add:
                                                case ToolboxTransactionType.Update:
                                                    @if (IsConfigurable(context))
                                                    {
                                                        <MudText id=@ElementId([ReviewConfigurationId, context.Tool])>
                                                            @DisplayDiff(context.Diff(), context.Tool)
                                                        </MudText>
                                                    }
                                                    break;
                                                case ToolboxTransactionType.Remove:
                                                    <MudText id=@ElementId([ReviewConfigurationId, context.Tool])>
                                                        @Localizer["N/A"]
                                                    </MudText>
                                                    break;
                                            }
                                        </MudTd>
                                        <MudTd>
                                            @switch (context.Type)
                                            {
                                                case ToolboxTransactionType.Add:
                                                case ToolboxTransactionType.Update:
                                                    @ToolCostSummary(context)
                                                    break;
                                                case ToolboxTransactionType.Remove:
                                                    <MudText>
                                                        @Localizer["N/A"]
                                                    </MudText>
                                                    break;
                                            }
                                        </MudTd>
                                    </RowTemplate>
                                </MudTable>
                                <MudStack Spacing="0">
                                    <MudText>
                                        <strong>
                                            @Localizer["Current cost information"]
                                        </strong>
                                    </MudText>
                                    <MudText>
                                        @Localizer["{0:C2} spent of {1:C2} budget ({2:F2}%)", _workspaceCosts.Spent, _workspaceCosts.Budget, _workspaceCosts.Spent / _workspaceCosts.Budget * 100]
                                    </MudText>
                                    <MudText>
                                        @Localizer["{0:C2} monthly spend ({1:F2}% of budget)", _workspaceCosts.Monthly, _workspaceCosts.Monthly / _workspaceCosts.Budget * 100]
                                    </MudText>
                                </MudStack>
                                <MudText>
                                    @Localizer["By clicking complete, you are confirming that the information above is correct and that you understand the cost implications of your request."]
                                </MudText>
                            </MudStack>
                        </MudStep>
                    </ChildContent>
                </MudStepper>
                @if (_activeIndex != 2)
                {
                    @* Summary view *@
                    <MudDivider Vertical DividerType="DividerType.Middle" FlexItem Class="mx-0"/>
                    <MudStack Class="pa-4" Spacing="0" Style="max-width: 25%">
                        <MudText Typo="Typo.h2" Class="mb-2">
                            @Localizer["Summary"]
                        </MudText>
                        @if (_activeIndex == 0)
                        {
                            <MudText Typo="Typo.body1" Class="mb-4"
                                        Style="font-style: italic; text-wrap: wrap; white-space: wrap">
                                @Localizer["Unselecting a tool that is a dependency of another tool will also remove the dependent tool."]
                            </MudText>
                        }
                        else
                        {
                            <MudText Typo="Typo.body1" Class="mb-4"
                                        Style="font-style: italic; text-wrap: wrap; white-space: wrap">
                                @Localizer["You can edit your selection in the select step."]
                            </MudText>
                        }

                        @if (_transactions.Any(tr => tr.Type == ToolboxTransactionType.Add))
                        {
                            <MudText Typo="Typo.h3" Class="mb-2">
                                @Localizer["Add:"]
                            </MudText>
                            <MudStack Spacing="0" Class="mb-4" id=@SummaryAddId>
                                @foreach (var transaction in AllAddTransactions)
                                {
                                    <MudStack Row AlignItems="AlignItems.Center"
                                                id=@ElementId([SummaryAddId, transaction.Tool])>
                                        @if (_activeIndex == 0)
                                        {
                                            <MudIconButton Icon="@Icons.Material.Outlined.Close"
                                                            Color="Color.Primary"
                                                            OnClick="@(_ => RevertTool(transaction))"
                                                            Size="Size.Small"
                                                            id=@ElementId([SummaryAddId, transaction.Tool, CancelButtonId])/>
                                        }
                                        <MudText>
                                            @ToolLabel(GetToolInfo(transaction.Tool))
                                        </MudText>
                                    </MudStack>
                                }
                            </MudStack>
                        }
                        @if (_transactions.Any(tr => tr.Type == ToolboxTransactionType.Update))
                        {
                            <MudText Typo="Typo.h3" Class="mb-2">
                                @Localizer["Configure:"]
                            </MudText>
                            <MudStack Spacing="0" Class="mb-4" id=@SummaryConfigureId>
                                @foreach (var transaction in AllUpdateTransactions)
                                {
                                    <MudStack Row AlignItems="AlignItems.Center"
                                                id=@ElementId([SummaryConfigureId, transaction.Tool])>
                                        @if (_activeIndex == 0)
                                        {
                                            <MudIconButton Icon="@Icons.Material.Outlined.Close"
                                                            Color="Color.Primary"
                                                            OnClick="@(_ => RevertTool(transaction))"
                                                            Size="Size.Small"
                                                            id=@ElementId([SummaryConfigureId, transaction.Tool, CancelButtonId])/>
                                        }
                                        <MudText>
                                            @ToolLabel(GetToolInfo(transaction.Tool))
                                        </MudText>
                                    </MudStack>
                                }
                            </MudStack>
                        }
                        @if (_transactions.Any(tr => tr.Type == ToolboxTransactionType.Remove))
                        {
                            <MudText Typo="Typo.h3" Class="mb-2">
                                @Localizer["Remove:"]
                            </MudText>
                            <MudStack Spacing="0" Class="mb-4" id=@SummaryRemoveId>
                                @foreach (var transaction in AllRemoveTransactions)
                                {
                                    <MudStack Row AlignItems="AlignItems.Center"
                                                id=@ElementId([SummaryRemoveId, transaction.Tool])>
                                        @if (_activeIndex == 0)
                                        {
                                            <MudIconButton Icon="@Icons.Material.Outlined.Close"
                                                            Color="Color.Primary"
                                                            OnClick="@(_ => RevertTool(transaction))"
                                                            Size="Size.Small"
                                                            id=@ElementId([SummaryRemoveId, transaction.Tool, CancelButtonId])/>
                                        }
                                        <MudText>
                                            @ToolLabel(GetToolInfo(transaction.Tool))
                                        </MudText>
                                    </MudStack>
                                }
                            </MudStack>
                        }
                        <MudSpacer/>
                        <MudText>
                            <strong>
                                @Localizer["Current cost information"]
                            </strong>
                        </MudText>
                        <MudText>
                            @Localizer["{0:C2} spent of {1:C2} budget ({2:F2}%)", _workspaceCosts.Spent, _workspaceCosts.Budget, _workspaceCosts.Spent / _workspaceCosts.Budget * 100]
                        </MudText>
                        <MudText>
                            @Localizer["{0:C2} monthly spend ({1:F2}% of budget)", _workspaceCosts.Monthly, _workspaceCosts.Monthly / _workspaceCosts.Budget * 100]
                        </MudText>
                    </MudStack>
                }
            </MudStack>
        }
    </MudPaper>
    <DatahubAuthView AuthLevel="DatahubAuthView.AuthLevels.DatahubSupport">
        @* Admin view *@
        <MudPaper Class="py-4" Elevation="0" Outlined>
            <MudStack Row Class="px-4" AlignItems="AlignItems.Center">
                <MudIcon Icon="@Icons.Material.Outlined.Shield"/>
                <MudText Typo="Typo.h2">
                    @Localizer["Admin view"]
                </MudText>
                <MudSpacer/>
                <DHButton HtmlTag="Button" OnClick="@(_ => _showAdminView = !_showAdminView)" IconSize="Size.Large"
                          Variant="Variant.Filled"
                          EndIcon="@(_showAdminView ? Icons.Material.Filled.ArrowDropUp : Icons.Material.Filled.ArrowDropDown)">@(_showAdminView ? Localizer["Hide"] : Localizer["View"])</DHButton>
            </MudStack>
            <MudCollapse @bind-Expanded="@_showAdminView">
                <MudStack>
                    <MudContainer>
                        <MudText Typo="Typo.h3">
                            @Localizer["Settings"]
                        </MudText>
                        <MudCheckBox @bind-Value="@_redirectOnCompletion">
                            @Localizer["Redirect to workspace on completion"]
                        </MudCheckBox>
                        <MudCheckBox @bind-Value="@_mockRequest">
                            @Localizer["Mock request"]
                        </MudCheckBox>
                        <MudButton Color="Color.Primary" OnClick="@(_ => CompleteRequest())">
                            @Localizer["Trigger submit"]
                        </MudButton>
                    </MudContainer>
                    <MudContainer>
                        <MudText Typo="Typo.h3">
                            @Localizer["Event logs"]
                        </MudText>
                        <pre style="max-height: 300px; overflow-y: scroll">
                        @foreach (var log in _adminEventLogs)
                            {
                                <p>
                                @log
                            </p>
                            }
                    </pre>
                    </MudContainer>
                    <MudContainer>
                        <MudText Typo="Typo.h3">
                            @Localizer["Current transactions"]
                        </MudText>
                        <pre style="max-height: 300px; overflow-y: scroll">
                            @if (_transactions.Any())
                            {
                                @foreach (var transaction in _transactions)
                                {
                                    <p>
                                    @transaction.ToString()
                                </p>
                                }
                            }
                            else
                            {
                                <p>
                                    @Localizer["No transactions"]
                                </p>
                            }
                        </pre>
                    </MudContainer>
                    <MudContainer>
                        <MudStack Row>
                            <MudText Typo="Typo.h3">
                                @Localizer["Workspace definitions"]
                            </MudText>
                        </MudStack>
                        <MudStack Row Style="max-height: 500px; overflow: scroll">
                            <div style="width: 50%">
                                <DHMarkdown Content="@WorkspaceDefinitionMarkdown(_workspaceDefinition)"
                                            LinkRewriter="@LinkRewriter"/>
                            </div>
                            <div style="width: 50%">
                                <DHMarkdown
                                    Content="@WorkspaceDefinitionMarkdown(ToolboxService.ApplyTransaction(_workspaceDefinition, _transactions))"
                                    LinkRewriter="@LinkRewriter"/>
                            </div>
                        </MudStack>
                    </MudContainer>
                </MudStack>
            </MudCollapse>
        </MudPaper>
    </DatahubAuthView>
</MudStack>

@code {

    [Parameter] public string WorkspaceAcronym { get; set; }
    [Parameter] public bool ElevatedWorkspaceAccessEnabled { get; set; }

    private Datahub_Project _workspace;
    private WorkspaceDefinition _workspaceDefinition;
    private WorkspaceDefinition _builtWorkspaceDefinition;
    private PortalUser _viewedPortalUser;
    private List<ToolboxTransaction> _transactions;
    private DatahubProjectDBContext _context;
    private System.Version _workspaceVersion;

    private (decimal Spent, decimal Budget, decimal Monthly) _workspaceCosts;

    private readonly List<string> _toolCatalog = [];
    private readonly List<string> _adminEventLogs = [];

    private bool _initializing = true;
    private bool _showAdminView;
    private bool _redirectOnCompletion = true;
    private bool _mockRequest;
    private bool _completed;
    private bool _disableOverBudget;
    private bool _disableActiveRequest;
    private bool _disableSubmissionDelays;
    private bool _disableSubmissions;
    private bool _sentToTerraform;

    private class CompletionStep
    {
        public string Label { get; init; }
        public string State { get; set; }
        public Func<Task> Task { get; init; }
        public long Time { get; set; }
    }

    public static string ActiveState => "active";
    public static string CompletedState => "completed";
    public static string FailedState => "failed";
    public static string CatalogId => "tool-catalog";
    public static string ExistingId => "tool-existing";
    public static string ConfigurationFormsId => "configuration-forms";
    public static string SummaryAddId => "summary-add";
    public static string SummaryConfigureId => "summary-configure";
    public static string SummaryRemoveId => "summary-remove";
    public static string MetadataWarningId => "tool-metadata-warning";
    public static string AddButtonId => "add-button";
    public static string RemoveButtonId => "remove-button";
    public static string ConfigureButtonId => "configure-button";
    public static string CancelButtonId => "cancel-button";
    public static string NextButtonId => "next-button";
    public static string PreviousButtonId => "previous-button";
    public static string CompleteButtonId => "complete-button";
    public static string ToolStatusLabelId => "status-label";
    public static string ReviewTableId => "review-table";
    public static string ReviewActionId => "review-action";
    public static string ReviewConfigurationId => "review-configuration";
    public static string CompletionStepTitleId => "completion-step-title";
    public static string CompletionStepsId => "completion-steps";
    public static string ElementId(string[] sections) => string.Join("-", sections);

    private List<CompletionStep> _completionSteps = [];

    private int _activeIndex;

    private string SupportUrl => $"{PageRoutes.Help}";
    private string MetadataUrl => $"{PageRoutes.WorkspacePrefix}/{WorkspaceAcronym}/{WorkspaceSidebar.SectionViews.Metadata}";

    private static string ConfigurationFormStyle => new StyleBuilder()
        .AddStyle("border-top", "2px var(--mud-palette-divider) solid")
        .AddStyle("border-right", "2px var(--mud-palette-divider) solid")
        .AddStyle("border-bottom", "2px var(--mud-palette-divider) solid")
        .AddStyle("border-left", "10px var(--mud-palette-primary-lighten) solid")
        .Build();


    // TODO move this to a util class or similar
    private System.Version ParseVersionTag(string versionTag)
    {
        var versionTagNumeric = versionTag?.TrimStart('v');
        if (versionTagNumeric is not null && System.Version.TryParse(versionTagNumeric, out var version))
        {
            return version;
        }
        else
        {
            return new(0,0,0);
        }
    }

    private async Task<System.Version> DetermineWorkspaceVersion(Datahub_Project workspace)
    {
        //TODO: workspaces shouldn't have "latest" version string, however in dev some still do.
        // If we can guarantee that all workspaces have a proper version string, we can remove this check.
        if (workspace.Version == TerraformWorkspace.LatestVersionString)
        {
            var latestVersionTag = await WorkspaceVersionService.GetLatestVersionAsync();
            return ParseVersionTag(latestVersionTag);
        }

        return ParseVersionTag(workspace.Version);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await using var context = await ContextFactory.CreateDbContextAsync();
        _viewedPortalUser = await GetViewedPortalUserAsync();
        _workspace = await context.Projects
            .AsNoTracking()
            .Include(w => w.Resources)
            .Include(w => w.Credits)
            .FirstAsync(w => w.Project_Acronym_CD == WorkspaceAcronym);
        _workspaceDefinition = await ResourceMessagingService.GetWorkspaceDefinition(_workspace.Project_Acronym_CD, _viewedPortalUser.Email);
        _workspaceCosts.Spent = (decimal)(_workspace.Credits?.Current ?? 0);
        _workspaceCosts.Budget = _workspace.Project_Budget ?? 100;
        _workspaceCosts.Monthly = (decimal)(_workspace.Credits?.YesterdayCredits ?? 0) * 30;
        _disableOverBudget = DatahubPortalConfiguration.ToolboxConfig.DisableOnOverBudget && _workspaceCosts.Spent > _workspaceCosts.Budget;
        _disableActiveRequest = DatahubPortalConfiguration.ToolboxConfig.DisableOnActiveRequest && _workspace.Resources.Any(r => TerraformStatus.RequestedOrInProcessOf(r.Status));
        _disableSubmissionDelays = DatahubPortalConfiguration.ToolboxConfig.DisableSubmissionDelays;
        _disableSubmissions = DatahubPortalConfiguration.ToolboxConfig.DisableSubmissions;
        // TODO: Update this piece of code once the metadata is filled in via GC Hosting

        _workspaceVersion = await DetermineWorkspaceVersion(_workspace);

        PopulateCatalog();
        Log("Beginning transaction");
        _transactions = ToolboxService.BeginTransaction();
        _initializing = false;
        await InvokeAsync(StateHasChanged);
    }

}