@page "/login-entra"
@page "/connexion-entra"
@layout BarebonesPublicLayout
@inject NavigationManager _navigationManager
@inject IUserInformationService _userInformationService
@inject DatahubPortalConfiguration _portalConfiguration

<PageTitle>@Localizer["Login - Federal Science DataHub"]</PageTitle>

<MudContainer MaxWidth=@MaxWidth.Medium>
    <MudPaper Class="pt-12 px-12 mt-12">
        <MudStack>
            <MudGrid>
                <MudItem xs="11">
                    <MudImage Src=@Localizer["/img/canada-fip.svg"] Class="mb-4" Alt="Government of Canada Wordmark / Symbole de mot du gouvernement du Canada" Style="max-height: 1.5rem" />
                </MudItem>
                <MudItem xs="1">
                    <LanguageToggle />
                </MudItem>
            </MudGrid>
            <DHMainContentTitle Title="@Localizer["MainTitle"]" />
        </MudStack>
        <MudText Typo="Typo.body1" Class="mt-4">
            @Localizer["If it is your first time signing in, please follow the "]
            <MudLink Href="@Localizer[PageRoutes.ResourceSite_Preregistration]" Typo="Typo.body1">@Localizer["Account Setup"]</MudLink>
            @Localizer[" instructions."]
        </MudText>
        <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
            <MudStack AlignItems="AlignItems.Start" Class="mt-4" Style="width: 100%">
                <MudText Typo="Typo.body1" Class="text-center">
                    <strong>
                        @Localizer["Please log in to continue"]:
                    </strong>
                </MudText>
                <div class="form-group" style="width: 100%">
                    <MudTextField Class="form-control" InputId="Email"
                                  @bind-Value="loginModel.Email" Label="@Localizer["Email"]" Required="true"
                                  RequiredError="@Localizer["Email is required"]" FullWidth="true" Variant="Variant.Outlined" />
                </div>
                <div class="form-group">
                    <MudCheckBox T="bool"
                                 @bind-Value="loginModel.Agreement"
                                 Required
                                 RequiredError=@Localizer["Agreement with the Terms and conditions is required"]>
                        <MudText Typo="Typo.body1">
                            @Localizer["I agree to the "]
                            <MudLink Href="@Localizer[PageRoutes.TermsAndConditions]" Typo="Typo.body1" Target="_blank">
                                @Localizer["Terms and conditions"]
                            </MudLink>
                            @Localizer[" of use for FSDH"]
                            <TermsAndConditionsDate/>
                        </MudText>
                    </MudCheckBox>
                </div>                
                <MudButton Class="px-16 my-2" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                            Disabled="@(_loggingIn || String.IsNullOrWhiteSpace(loginModel.Email) || !loginModel.Agreement)">
                    <MudText>
                        @(_loggingIn ? Localizer["Logging in..."] : Localizer["Login"])
                    </MudText>
                </MudButton>
                <MudText Typo="Typo.body1">
                    <MudLink Href="@Localizer[PageRoutes.Login]" Typo="Typo.body1">
                        @Localizer["Return to previous page"]
                    </MudLink>
                </MudText>
            </MudStack>
        </EditForm>
        <DHFooter />
    </MudPaper>
</MudContainer>

@code {
    [Parameter][SupplyParameterFromQuery] public string redirectUri { get; set; }

    private LoginModel loginModel = new LoginModel();
    private bool _loggingIn;

    internal async void HandleLogin()
    {
        _loggingIn = true;
        var loginHint = loginModel.Email;
        var existingUser = await _userInformationService.GetUserByEmailAsync(loginHint);

        // If user is deleted, redirect to register page with deleted flag
        if (existingUser is { IsDeleted: true })
        {
            _navigationManager.NavigateTo($"{Localizer["/register"]}?email={loginHint}&s=d");
            return;
        }

        // If user is locked, redirect to locked page
        if (existingUser is { IsLocked: true })
        {
            _navigationManager.NavigateTo(Localizer["/locked"]);
            return;
        }

        // If there is no portal user associated with the email, then:
        if (existingUser is null)
        {
            // - first check if the user is registered in the tenant (that means they have registered but not logged in yet)
            var registered = await _userInformationService.CheckUserInTenant(loginHint);

            // - if not registered, redirect to register page with new flag
            if (!registered)
            {
                _navigationManager.NavigateTo($"{Localizer["/register"]}?email={loginHint}&s=n");
                return;
            }
            // - if they are registered, proceed with the normal login flow
        }

        if (string.IsNullOrWhiteSpace(redirectUri))
        {
            redirectUri = _navigationManager.BaseUri;
        }

        var url = $"{_navigationManager.BaseUri}MicrosoftIdentity/Account/Challenge?redirectUri={Uri.EscapeDataString(redirectUri)}&scope=user.read%20openid%20offline_access%20profile&loginHint={loginHint}&domainHint=&claims=&policy=";
        _navigationManager.NavigateTo(url, true);
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var user = await _userInformationService.GetAuthenticatedUser(true);
        if (user.Identity?.IsAuthenticated == true)
        {
            _navigationManager.NavigateTo("/");
        }
        else if (!_portalConfiguration.ShowLoginPage)
        {
            HandleLogin();
        }
    }

    public class LoginModel
    {
        public string Email { get; set; } = string.Empty;
        public bool Agreement { get; set; } = false;
    }
}